<%- include('header', { currentPage: 'home' }); -%>
<div class="col-md-12 mb-4">
    <h1 class="h2">E-Book Library Management System</h1>
    <hr>
</div>
<div class="columns">
  <div>
    <div class="col-md-6">
        <h2 class="h4">About</h2>
        <hr>
        <p>A web-based app for managing ebooks.</p>
    </div>
    <div class="col-md-6">
        <h2 class="h4">App Features</h2>
        <hr>
        <ul>
            &check; Add new ebooks<br>
            &check; Search ebooks<br>
            &check; View all stored books<br>
        </ul>
    </div>
  </div>
  <div>
    <div class="col-md-6">
        <h2 class="h4">Contact</h2>
        <hr>
        <p>nicolepits@gmail.com</p>
    </div>
  </div>
</div>
